# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea
project/plugins.sbt
project/project/target/config-classes/$9d3a1548da3cee4925b3$.class
project/project/target/config-classes/$9d3a1548da3cee4925b3.cache
project/project/target/config-classes/$9d3a1548da3cee4925b3.class
project/target/config-classes/$00003191371f22ec83b6$$anonfun$$sbtdef$1.class
project/target/config-classes/$00003191371f22ec83b6$.class
project/target/config-classes/$00003191371f22ec83b6.cache
project/target/config-classes/$00003191371f22ec83b6.class
project/target/config-classes/$358ce14d37baf7ee6a68$$anonfun$$sbtdef$1.class
project/target/config-classes/$358ce14d37baf7ee6a68$.class
project/target/config-classes/$358ce14d37baf7ee6a68.cache
project/target/config-classes/$358ce14d37baf7ee6a68.class
project/target/config-classes/$3cdf0629f3170764acd9$$anonfun$$sbtdef$1.class
project/target/config-classes/$3cdf0629f3170764acd9$.class
project/target/config-classes/$3cdf0629f3170764acd9.cache
project/target/config-classes/$3cdf0629f3170764acd9.class
project/target/config-classes/$40c591722ac23a127f1b$$anonfun$$sbtdef$1.class
project/target/config-classes/$40c591722ac23a127f1b$.class
project/target/config-classes/$40c591722ac23a127f1b.cache
project/target/config-classes/$40c591722ac23a127f1b.class
project/target/config-classes/$44e29809edc8ad240322$$anonfun$$sbtdef$1.class
project/target/config-classes/$44e29809edc8ad240322$.class
project/target/config-classes/$44e29809edc8ad240322.cache
project/target/config-classes/$44e29809edc8ad240322.class
project/target/config-classes/$4668d3e479b8fea427d5$$anonfun$$sbtdef$1.class
project/target/config-classes/$4668d3e479b8fea427d5$.class
project/target/config-classes/$4668d3e479b8fea427d5.cache
project/target/config-classes/$4668d3e479b8fea427d5.class
project/target/config-classes/$63f7b7af4f44e1356424$$anonfun$$sbtdef$1.class
project/target/config-classes/$63f7b7af4f44e1356424$.class
project/target/config-classes/$63f7b7af4f44e1356424.cache
project/target/config-classes/$63f7b7af4f44e1356424.class
project/target/config-classes/$c19daea2b0f4c9a5e52c$$anonfun$$sbtdef$1.class
project/target/config-classes/$c19daea2b0f4c9a5e52c$.class
project/target/config-classes/$c19daea2b0f4c9a5e52c.cache
project/target/config-classes/$c19daea2b0f4c9a5e52c.class
project/target/config-classes/$c2ddb1d47f5e6a31bd7a$.class
project/target/config-classes/$c2ddb1d47f5e6a31bd7a.cache
project/target/config-classes/$c2ddb1d47f5e6a31bd7a.class
project/target/config-classes/$cfff0115a78b8ac9b7cd$$anonfun$$sbtdef$1.class
project/target/config-classes/$cfff0115a78b8ac9b7cd$.class
project/target/config-classes/$cfff0115a78b8ac9b7cd.cache
project/target/config-classes/$cfff0115a78b8ac9b7cd.class
project/target/config-classes/$ffd142d3386694c8932b$$anonfun$$sbtdef$1$$anonfun$apply$1.class
project/target/config-classes/$ffd142d3386694c8932b$$anonfun$$sbtdef$1.class
project/target/config-classes/$ffd142d3386694c8932b$.class
project/target/config-classes/$ffd142d3386694c8932b.cache
project/target/config-classes/$ffd142d3386694c8932b.class
project/target/scala-2.10/
project/target/streams/compile/incCompileSetup/
target/streams/$global/assemblyOption/
target/streams/test/test/
