# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea
project/plugins.sbt
project/project/target/
project/target/
project/target/config-classes/
project/target/scala-2.10/
project/target/streams/compile/incCompileSetup/
target/streams/$global/assemblyOption/
target/streams/test/test/
target/
